.profile__edit-button {
    width: 107.34px;
    gap: 8px;
    display: flex;
    text-wrap: nowrap;
    margin: 100px 0;
    background-color: #fcf5e5;
    border: none;
    font-weight: 500;
}

.profile__add-button {
    width: 149px;
    height: 52px;
    margin-left: auto;
    margin-top: 138px;
    border-radius: 8px;
    color: #fcf5e5;
    background-color: #212121;
}

.profile__add-button_image {
    margin-right: 8px;
}

@media screen and (max-width: 660px) {
    .profile__edit-button {
        margin-bottom: 20px;
    }
}
