.cards {
  padding: 20px 0 40px;
  font-weight: 500;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
}

@media screen and (max-width: 660px) {
  .cards {
    padding-bottom: 60px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    object-fit: cover;
  }
}
