.footer {
    max-width: 104px;
    max-height: 16px;
    margin: auto;
    display: flex;
    text-wrap: nowrap;
}

.footer_title {
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 16px;
background: transparent;
margin: auto;
}

@media screen and (max-width: 660px) {
    .footer {
        padding-bottom: 60px;
    }
}